#easter-sunday {
  background: radial-gradient(ellipse at center, #31acd3 0%, #5252ff 100%) fixed
    #5252ff;
  color: #fff;
  position: absolute;
  z-index: 500;
  &.sticky {
    position: fixed;
    bottom: 0;
  }
  .invite-info {
    border-color: #fff;
  }
}
