#easter-sunday{
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, #ffd33f 0%,#ef8e1b 100%);
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  h1{
    font-size: calc(30px + 4vw);
  }
}

