h1{
  font-size: calc(40px + 3vw);
  font-weight: 800;
}
h2{
  font-size: calc(30px + 2vw);
}
h3{
  font-size: calc(24px + 1.5vw);
}
h4{
  font-size: calc(16px + 1vw);
  font-weight: 400;
}
p{
  font-size: calc(16px + .5vw);
  font-weight: 400;
  line-height: 1.2;
}