@media(max-width: 801px){
  #logo-container{
    display: none;
  }
  .detail-container{
    flex-wrap: wrap;
    .details{
      width: 100%;
      
    }
    .details-2{
      margin-top: 20px;
      text-align: left;
    }
  }
  .mobile-only{
    display: block;
    max-width: 225px;
    
  }
}